META-INF/mywsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/mywsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyServiceImplService"
	targetNamespace="http://www.example.org/mywsdl/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/mywsdl/">
			<!-- 1.1 编写元素add，addResponse,minus,minusResponse -->
			<xsd:element name="add" type="tns:add"></xsd:element>
			<xsd:element name="addResponse" type="tns:addResponse"></xsd:element>

			<xsd:element name="minus" type="tns:minus"></xsd:element>
			<xsd:element name="minusResponse" type="tns:minusResponse"></xsd:element>

			<xsd:complexType name="add">
				<xsd:sequence>
					<xsd:element name="a" type="xsd:int"></xsd:element>
					<xsd:element name="b" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="addResponse">
				<xsd:sequence>
					<xsd:element name="addResult" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="minus">
				<xsd:sequence>
					<xsd:element name="c" type="xsd:int"></xsd:element>
					<xsd:element name="d" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="minusResponse">
				<xsd:sequence>
					<xsd:element name="minusResult" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<!-- 1.3 编写message -->
	<wsdl:message name="add">
		<wsdl:part name="add" element="tns:add"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="addResponse">
		<wsdl:part name="addResponse" element="tns:addResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="minus">
		<wsdl:part name="minus" element="tns:minus"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="minusResponse">
		<wsdl:part name="minusResponse" element="tns:minusResponse"></wsdl:part>
	</wsdl:message>

	<!--1.4 编写port，其中operation为方法 -->
	<wsdl:portType name="IMyService">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add"></wsdl:input>
			<wsdl:output message="tns:addResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="minus">
			<wsdl:input message="tns:minus"></wsdl:input>
			<wsdl:output message="tns:minusResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<!--1.5 编写binding，其中document类型为默认 -->
	<wsdl:binding name="myServiceSOAP" type="tns:IMyService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="minus">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- 1.6 编写service -->
	<wsdl:service name="MyServiceImplService"><!-- 与公布接口的name一致 -->
		<wsdl:port binding="tns:myServiceSOAP" name="MyServiceImplPort">
			<soap:address location="http://localhost:8989/ms" />
			<!--发布地址 -->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>